<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleDocumentTypes</key>
    <array>
    <dict>
    <key>CFBundleTypeExtensions</key>
    <array>
    <string>sifz</string>
    </array>
    <key>CFBundleTypeName</key>
    <string>Synfig Document</string>
    <key>CFBundleTypeIconFile</key>
    <string>Sif_icon.icns</string>
    <key>CFBundleTypeRole</key>
    <string>Editor</string>
    </dict>
    </array>
    <key>CFBundleExecutable</key>
    <string>Synfig Studio</string>
    <key>CFBundleGetInfoString</key>
    <string>0.62.02, Copyright 2001-2010 Robert B. Quattlebaum, Jr.</string>
    <key>CFBundleIconFile</key>
    <string>Voria_Logo.icns</string>
    <key>CFBundleIdentifier</key>
    <string>org.synfig.synfigstudio</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.62.02</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>0.62.02</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2001-2010 Robert B. Quattlebaum, Jr., GNU General Public License.</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.4</string>
</dict>
</plist>
